{% block body %}
<form>
    
        
                <div class="card background-color:transparent; bg-dark">
                    <a class="animated fadeIn mb-4 flex-center text-light mt-2 " href="{{ url_for('favorites') }}" >Your Favorites</q>
                
                        {% for rec in favRecipes %}
                            <div class="card-body flex-center">
                                <div class="card-body bg-dark">
                                    <p class="card-text mr-2 ml-2">{{rec.fav_rec_name}}</p>
                                    <p class="card-text mr-2 ml-2">{{rec.fav_rec_description}}</p>
                                    <a href="#" class="card-link text-light">Take me there</a>
                                </div>

                            
                        
                            </div>
                    
                        <br>
                        {% endfor %}
                   
                </div>
              
</form>
{% endblock %}
