{% block body %}
<form>
    
        
                <div class="card background-color:transparent; bg-dark">
                    <a class="animated fadeIn mb-4 flex-center text-light mt-2 " href="{{ url_for('favorites') }}" >Your Favorites</q>
                    
                        {% include 'includes/formatForFavorites.html' %}
                    <div class="card-body ">
                        <p class="card-text mr-2 ml-2">Recipe name</p>
                        <p class="card-text mr-2 ml-2">Recipe disc ...</p>
                        <a href="#" class="card-link text-light">Take me there</a>
                    </div>
                    <div class="card-body ">
                        <p class="card-text mr-2 ml-2">Recipe name</p>
                        <p class="card-text mr-2 ml-2">Recipe disc ...</p>
                        <a href="#" class="card-link text-light">Take me there</a>
                    </div>
                    <div class="card-body ">
                        <p class="card-text mr-2 ml-2">Recipe name</p>
                        <p class="card-text mr-2 ml-2">Recipe disc ...</p>
                        <a href="#" class="card-link text-light">Take me there</a>
                    </div>
                </div>
              
</form>
{% endblock %}
