{% block body %}         
  {% block content %}
    {% for rec in favRecipes %}
                    <div class="card-body flex-center">
                        <div class="card-body bg-dark">
                            <p class="h4 text-light" style="padding-left: 5px"> {{rec.fav_rec_name}}</p>
                            <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                            <p class="card-text mr-2 ml-2 text-light" style="padding-right: 100px; height: 100px">{{rec.fav_rec_description}}</p>
                            <p class="left card-text mr-2 ml-2 text-light">By: {{current_user.username}}</p>
                            <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
                        </div>
                    </div>
                <br>
    {% endfor %}
    {% if favRecipes %}
    {% else %}
    <div class="card-body flex-center">
      <div class="card-body bg-dark">
          <p class="h4 text-light" style="padding-left: 5px"> Go favorite recipes!!</p>
      </div>
  </div>
<br>    
    {% endif %}
  {% endblock content %}
{% endblock %}

