{% block body %}         
  {% block content %}
 
    {% for rec in recipes %}
            
        <div class="card-body" style="height:auto; padding-top: 0;">
            <div class="card-body bg-dark" style="border-radius:10px;">
                <!--<p class="h4 text-light" style="padding-left: 5px"> {{rec.rec_name}}</p>
                <img class="rounded" src="../static/Images/{{rec.recipePic}} " alt="Generic placeholder image" style="max-width: 200px; max-height:150px">
                <p class="card-text mr-2 ml-2 text-dark" style="padding-right: 100px; height: auto">{{rec.rec_description}}</p>-->
                
                <div class="container">
                  <div class="row">
                    <div class="col-md">
                      <p class="h4 text-light" style="padding-left: 5px"> {{rec.rec_name}} </p>
                      <p class="text-light" style="font-size:10; padding: 0">( {{ rec.dateposted }} )</p>
                      <p class="card-text mr-2 ml-2 text-light" style="height:auto">{{rec.rec_description}}</p>
                      <!--<p class="left card-text mr-2 ml-2 text-light">By: {{rec.username}}</p>-->
                    </div>
                    <div class="col-md">
                      <img class="rounded float-right" src="static/Images/{{rec.recipePic}} " alt="Generic placeholder image" style="max-width: 200px; max-height:150px; padding-bottom: 5px">
                    </div>
                  </div>
                  <br>
                  <div class="row" style="justify-content: center">                                    
                    <form action="{{ url_for('showrecipe', recipe_id=rec.id) }}" method="POST">
                      <button type="submit" class="btn btn-elegant">Take me there</button>
                    </form>
                    <form action="{{ url_for('add_fav', recipe_id=rec.id) }}" method="post">
                      <button type="submit" class="btn btn-elegant btn-lg"><i class="fa fa-star"></i></button>
                    </form>
                    <form action="{{ url_for('comment_recipe', recipe_id=rec.id) }}" method="post">
                      <button type="submit" class="btn btn-elegant float-right btn-lg"><i class="fa fa-comment-o"></i></button>
                    </form>

                    {% if current_user.id == rec.user_id %}
                    <form action="{{ url_for('update_recipe', recipe_id=rec.id) }}" method="post">
                      <button type="submit" class="btn btn-elegant btn-lg"> <i class="fa fa-pencil"></i></button>
                    </form>
                    <form action="{{ url_for('delete_recipe', recipe_id=rec.id) }}" method="post">
                      <button type="submit" class="btn btn-elegant btn-lg"> <i class="fa fa-trash"></i></button>
                    </form>
                    {% endif %}
                             
                  </div>
                </div>

              </div>
        </div>
    <br>

    {% endfor %}
    {% if recipes==null  %}
    <div class="card flex bg-dark" style="height:auto">
      <div class="card-body">
          
          <p class="card-text mr-2 ml-2" style="width:93%">No recipes :(</p> 
          
         
      </div>
  </div>
    {% endif %}
  {% endblock content %}
{% endblock %}

