      
            <h4 class="animated fadeIn mb-4 text-center text-light mt-2 " >Your Posts</h4>
          
                {% if allPosts %}
                {% else %}
                <div class="card flex bg-light" style="height:auto">
                    <div class="card-body text-center">
                        
                        <p class="card-text mr-2 ml-2" style="width:93%">Post some stuff!!!</p> 
                         
                       
                    </div>
                </div>
                {% endif %}
                {% for post in allPosts %}
                    

                        {% if post.post_type == "hungryFor" %}
                                <div class="card flex bg-light" style="height:auto">
                                    <div class="card-body ">
                                        <div class="float-left">
                                        <p class="card-text mr-2 ml-2" style="width:93%">{{ post.content }}</p> 
                                        </div>
                                        <div class="row float-right">
                                         {% if current_user.id == post.user_id %}
                                        <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
                                            <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>
                                        </form>                                  
                                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                        </form>
                                        <form action="{{ url_for('comment_post', post_id=post.id) }}" method="post">
                                            <button type="submit" class="btn btn-elegant"> <i class="fa fa-comment-o"></i></button>
                                    </form>
                                    {% endif %}
                                </div>
                                    
                                  
                                    </div>
                                </div>
                                <br>
                        {% endif %}
                        {% if post.post_type == "boringPost" %}
                                <div class="card flex bg-light" style="height:auto">
                                    <div class="card-body">
                                            <div class="float-left">
                                                    <p class="card-text mr-2 ml-2" style="width:93%">{{ post.content }}</p> 
                                                    </div>
                                                    <div class="row float-right">
                                                     {% if current_user.id == post.user_id %}
                                                    <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
                                                        <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>
                                                    </form>                                  
                                                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                            <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                                    </form>
                                                    <form action="{{ url_for('comment_post', post_id=post.id) }}" method="post">
                                                        <button type="submit" class="btn btn-elegant"> <i class="fa fa-comment-o"></i></button>
                                                </form>
                                                {% endif %}
                                            </div>
                                    </div>
                                </div>
                                <br>
                        {% endif %}
                        {% if post.post_type == "currentlyEating" %}
                            {% if post.link_current == "" or post.link_current == null %}
                                {% if post.content_current != "" %}
                                <div class="card flex bg-light" style="height:auto">
                                    <div class="card-body">
                                            <div class="float-left">
                                                    <p class="card-text mr-2 ml-2" style="width:93%">{{ post.content_current }}</p> 
                                                    </div>
                                                    <div class="row float-right">
                                                     {% if current_user.id == post.user_id %}
                                                    <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
                                                        <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>
                                                    </form>                                  
                                                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                            <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                                    </form>
                                                    <form action="{{ url_for('comment_post', post_id=post.id) }}" method="post">
                                                        <button type="submit" class="btn btn-elegant"> <i class="fa fa-comment-o"></i></button>
                                                </form>
                                                {% endif %}
                                                </div>
                                    </div>
                                </div>
                                <br>
                                {% endif %}

                            {% endif %}
                            {% if post.content_current == "" or post.content_current == null %}
                                {% if post.link != null %}
                                <div class="card flex bg-light" style="height:auto">
                                    <div class="card-body">
                                            <div class="float-left">
                                        <p class="card-text mr-2 ml-2" style="width:93%">The link to is recipe I'm currently eating is: {{ post.link_current }}</p>
                                            </div>
                                            {% if current_user.id == post.user_id %}
                                            <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
                                                <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>
                                            </form>                                  
                                            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                    <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                            </form>
                                            <form action="{{ url_for('comment_post', post_id=post.id) }}" method="post">
                                                <button type="submit" class="btn btn-elegant"> <i class="fa fa-comment-o"></i></button>
                                        </form>
                                        {% endif %}
                                            </div>
                                    </div>
                                </div>
                                <br>
                                {% endif %}
                            {% endif %}
                                                   

                    {% endif %}
                {% endfor %}
          
