{% block body %}         
            <h4 class="animated fadeIn mb-4 flex-center text-light mt-2 " >Your Posts</h4>
            {% block content %}
                {% if allPosts %}
                {% else %}
                <div class="card flex bg-light" style="height:80">
                    <div class="card-body flex-center">
                        
                        <p class="card-text mr-2 ml-2" style="width:93%">Post some stuff!!!</p> 
                         
                       
                    </div>
                </div>
                {% endif %}
                {% for post in allPosts %}
                    

                        {% if post.post_type == "hungryFor" %}
                                <div class="card flex bg-light" style="height:80">
                                    <div class="card-body flex-center">
                                        
                                        <p class="card-text mr-2 ml-2" style="width:93%">{{ post.content }}</p> 
                                         {% if current_user.id == post.user_id %}
                                        <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
                                            <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>
                                        </form>                                  
                                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                        </form>
                                        <form action="{{ url_for('comment_post', post_id=post.id) }}" method="post">
                                            <button type="submit" class="btn btn-elegant"> <i class="fa fa-comment-o"></i></button>
                                    </form>
                                    
                                    {% endif %}
                                    </div>
                                </div>
                                <br>
                        {% endif %}
                        {% if post.post_type == "boringPost" %}
                                <div class="card flex bg-light" style="height:80">
                                    <div class="card-body flex-center">
                                        <p class="card-text mr-2 ml-2" style="width:93%"> {{ post.content }}</p>
                                        <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>        
                                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                        {% endif %}
                        {% if post.post_type == "currentlyEating" %}
                            {% if post.link_current == "" or post.link_current == null %}
                                {% if post.content_current != "" %}
                                <div class="card flex bg-light" style="height:80">
                                    <div class="card-body flex-center">
                                        <p class="card-text mr-2 ml-2" style="width:93%"> {{ post.content_current }}</p>
                                        <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>        
                                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                        </form>                                  
                                    
                                    
                                    </div>
                                </div>
                                <br>
                                {% endif %}

                            {% endif %}
                            {% if post.content_current == "" or post.content_current == null %}
                                {% if post.link != null %}
                                <div class="card flex bg-light" style="height:80">
                                    <div class="card-body flex-center">
                                        <p class="card-text mr-2 ml-2" style="width:93%">The link to is recipe I'm currently eating is: {{ post.link_current }}</p>

                                        <button type="submit" class="btn btn-elegant"> <i class="fa fa-pencil"></i></button>        
                                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                                <button type="submit" class="btn btn-elegant"> <i class="fa fa-trash"></i></button>
                                        </form>

                                    </div>
                                </div>
                                <br>
                                {% endif %}
                            {% endif %}
                                                   

                    {% endif %}
                {% endfor %}
            {% endblock content %}

{% endblock %}
