{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<style type="text/css">
  .slider {
    width: 300px;
  }
</style>

<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: 100,
        values: [ 0, 100 ],
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
          $( "#price_min" ).val( $( "#slider-range" ).slider( "values", 0 ) );
          $( "#price_max" ).val( $( "#slider-range" ).slider( "values", 1 ) );
        }
      });
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
        " - $" + $( "#slider-range" ).slider( "values", 1 ) );
      $( "#price_min" ).val( $( "#slider-range" ).slider( "values", 0 ) );
      $( "#price_max" ).val( $( "#slider-range" ).slider( "values", 1 ) );
    } );

    $( function() {
      $( "#slider-range1" ).slider({
        range: true,
        min: 0,
        max: 100,
        values: [ 0, 100 ],
        slide: function( event, ui ) {
          $( "#amount1" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
          $( "#cal_min" ).val( $( "#slider-range1" ).slider( "values", 0 ) );
          $( "#cal_max" ).val( $( "#slider-range1" ).slider( "values", 1 ) );
        }
      });
      $( "#amount1" ).val( $( "#slider-range1" ).slider( "values", 0 ) +
        " - " + $( "#slider-range1" ).slider( "values", 1 ) );
      $( "#cal_min" ).val( $( "#slider-range1" ).slider( "values", 0 ) );
      $( "#cal_max" ).val( $( "#slider-range1" ).slider( "values", 1 ) );
    } );

    $( function() {
      $( "#slider-range2" ).slider({
        range: true,
        min: 0,
        max: 100,
        values: [ 0, 100 ],
        slide: function( event, ui ) {
          $( "#amount2" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
          $( "#diff_min" ).val( $( "#slider-range2" ).slider( "values", 0 ) );
          $( "#diff_max" ).val( $( "#slider-range2" ).slider( "values", 1 ) );
        }
      });
      $( "#amount2" ).val( $( "#slider-range2" ).slider( "values", 0 ) +
        " - " + $( "#slider-range2" ).slider( "values", 1 ) );
      $( "#diff_min" ).val( $( "#slider-range2" ).slider( "values", 0 ) );
      $( "#diff_max" ).val( $( "#slider-range2" ).slider( "values", 1 ) );
    } );
  </script>
</head>

<div class="container" style="height:40px">
<!--Navbar-->
<link href="../static/styles/navbar.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark transparent fixed-top" style="background-image: url(../static/Images/navbar.jpg)">

    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse form-inline" id="basicExampleNav">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <h3 class="text-white">Help Me Recipe</h3>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('homepage') }}">Home
        </a>
      </li>
      <li class="nav-item">
         
        </li>
    </ul>
    
    <ul class="navbar-nav form-inline row mr-auto" style="height:40px">
      <form action = "{{url_for('search')}}"class="form-inline", method = "POST">
        <div class="col-xs-3">

          {{ form5.hidden_tag() }}

          {{form5.keyWord(class = "form-control", placeholder = "Search") }}
        </div>
        <div class="col-xs-3">
          {{ form5.submit(class="btn btn-outline-success btn-md") }}
        </div>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </a>
          <div class="dropdown-menu text-center w-30" aria-labelledby="navbarDropdown">
            <form action = "search" class="range-field w-30" method  = 'POST' action='/'>

            <a class="dropdown-item" href="#">Price</a>
            <input type="text" name = "minmax" id="amount" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div class="p-2"></div>
            <div class="slider ml-4" id="slider-range"></div> 
            <input type="text" id="price_min">
            <input type="text" id="price_max">       
            <div class="p-2"></div>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Calories</a>
            <input type="text" name = "calories" id="amount1" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div class="p-2"></div>
            <div class="slider ml-4" id="slider-range1"></div> 
            <input type="text" id="cal_min">
            <input type="text" id="cal_max">        
            <div class="p-2"></div>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Difficulty</a>
            <input type="text" name = "calories" id="amount2" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div class="p-2"></div>
            <div class="slider ml-4" id="slider-range2"></div>  
            <input type="text" id="diff_min">
            <input type="text" id="diff_max">       
            <div class="p-2"></div>
    
            
          </div>
        </li>
      </form>
      <a class="nav-link" href="{{ url_for('advancedsearch') }}">Advanced Search Options</a>
    </ul>

    <ul class="navbar-nav">
        <form class="form-inline">
                
                
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}"> My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signup') }}">Register</a>
            </li>
          {% endif %}
        </form>
    </ul>

  </div>
</nav>
</div>

{% endblock %}
