{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<style type="text/css">
  .slider {
    width: 300px;
  }
</style>
<style>
  body {
    font-family: 'Poppins', sans-serif;
  }  
</style>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: 1000,
        values: [ 0, 1000 ],
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
          $( "#price_min" ).val( $( "#slider-range" ).slider( "values", 0 ) );
          $( "#price_max" ).val( $( "#slider-range" ).slider( "values", 1 ) );
        }
      });
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
        " - $" + $( "#slider-range" ).slider( "values", 1 ) );
      $( "#price_min" ).val( $( "#slider-range" ).slider( "values", 0 ) );
      $( "#price_max" ).val( $( "#slider-range" ).slider( "values", 1 ) );
    } );

    $( function() {
      $( "#slider-range1" ).slider({
        range: true,
        min: 0,
        max: 5000,
        values: [ 0, 5000 ],
        slide: function( event, ui ) {
          $( "#amount1" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
          $( "#cal_min" ).val( $( "#slider-range1" ).slider( "values", 0 ) );
          $( "#cal_max" ).val( $( "#slider-range1" ).slider( "values", 1 ) );
        }
      });
      $( "#amount1" ).val( $( "#slider-range1" ).slider( "values", 0 ) +
        " - " + $( "#slider-range1" ).slider( "values", 1 ) );
      $( "#cal_min" ).val( $( "#slider-range1" ).slider( "values", 0 ) );
      $( "#cal_max" ).val( $( "#slider-range1" ).slider( "values", 1 ) );
    } );

    $( function() {
      $( "#slider-range2" ).slider({
        range: true,
        min: 0,
        max: 10,
        values: [ 0, 10 ],
        slide: function( event, ui ) {
          $( "#amount2" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
          $( "#diff_min" ).val( $( "#slider-range2" ).slider( "values", 0 ) );
          $( "#diff_max" ).val( $( "#slider-range2" ).slider( "values", 1 ) );
        }
      });
      $( "#amount2" ).val( $( "#slider-range2" ).slider( "values", 0 ) +
        " - " + $( "#slider-range2" ).slider( "values", 1 ) );
      $( "#diff_min" ).val( $( "#slider-range2" ).slider( "values", 0 ) );
      $( "#diff_max" ).val( $( "#slider-range2" ).slider( "values", 1 ) );
    } );
  </script>
  <style>
    .sr-only
        {
          color: white;
          background-color: white;
          
        }
   </style>
</head>

<div class="container" style="height:40px; width: 100%">
<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark transparent fixed-top" style="background-image: url(/static/Images/bg.png); height:45">

    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse form-inline" id="basicExampleNav">
    
    <ul class="navbar-nav mr-auto" style="padding-top:10">
      <li class="nav-item">
          <a class="text-white nav-link h3" href="{{ url_for('homepage') }}">Help Me Recipe</a>
      </li>
    </ul>
    
    <ul class="navbar-nav form-inline row mr-auto" style="height:30px;">
      <form action = "{{url_for('search')}}"class="form-inline", method = "POST">
        <div class="col-xs-3" style="padding-top: 15px">

          {{ form5.hidden_tag() }}

          {{form5.keyWord(class = "form-control", placeholder = "Search", style="height: 40px; padding:10px") }}
        </div>
        <div class="col-xs-3" style="padding-top:15">
          {{ form5.submit(class="btn btn-elegant btn-md", style="height:20; padding:0") }}
        </div>


        <li class="nav-item dropdown"  style="padding-top: 15">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </a>
          <div class="dropdown-menu text-center w-30" aria-labelledby="navbarDropdown">
            <form action = "search" class="range-field w-30" method  = 'POST' action='/'>

            <a class="dropdown-item" href="#">Price</a>
            <input type="text" name = "minmax" id="amount" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div class="p-2"></div>
            <div class="slider ml-4" id="slider-range"></div>      
            <div class="p-2"></div>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Calories</a>
            <input type="text" name = "calories" id="amount1" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div class="p-2"></div>
            <div class="slider ml-4" id="slider-range1"></div>       
            <div class="p-2"></div>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Difficulty</a>
            <input type="text" name = "calories" id="amount2" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div class="p-2"></div>

            <div class="slider ml-4 mr-4" id="slider-range2"></div>  
            <div class="slider ml-4" id="slider-range2"></div>    
            <div class="p-2"></div>
    
            
          </div>
        </li>
      </form>
      <a class="nav-link text-light" href="{{ url_for('advancedsearch') }}" style="padding-bottom: 20; font-size: 12">Advanced Search Options</a>
    </ul>

    <ul class="navbar-nav">
        <form class="form-inline">
                
                
          {% if current_user.is_authenticated %}
          
            <div class="btn-group" style="padding:0 ;padding-top: 10;">
              
                <button type="button" class="btn btn-link btn-sm text-light mr-auto" style="padding: 0; text-decoration: none"><li><a class="nav-link text-light" href="{{ url_for('profile') }}">My Profile</a></li></button>
                <button type="button" class="btn btn-link btn-sm px-3 text-light" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" >
                  <span class="caret text-light" style="font-size: 20"> 	&#9663; </span>
                </button>
                <ul class="dropdown-menu bg-light text-dark" style="width:200px ">
                    <li><a class="text-dark"  href="{{ url_for('settings') }}">To my settings!</a></li>
                    <li> <a class="text-dark"  href="{{ url_for('create_recipe') }}">Post a recipe!</a></li>
                    <li><a class="text-dark"  href="{{ url_for('homepage') }}">View my friends!</a></li>
                    <li><a class="text-dark"  href="{{ url_for('favorites') }}">View my favorites!</a></li>
                    <li><a class="text-dark"  href="{{ url_for('findfriends') }}">Find friends!</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="text-dark"  href="{{ url_for('profile') }}">To my profile!</a></li>
                  </ul>
            </div>
            
          <li class="nav-item" style="padding-top: 10 ">
              <button type="button" class="btn btn-link btn-sm" style="text-decoration: none" ><li><a class="nav-link text-light" href="{{ url_for('logout') }}" >Logout</a></li></button>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signup') }}">Register</a>
            </li>
          {% endif %}
        </form>
    </ul>

  </div>
</nav>
</div>

{% endblock %}
