{% block body %}
<form>
        <div class="card flex bg-dark">
                <h4 class="animated fadeIn mb-4 flex-center text-light mt-2 " >My Recipes</h4>
                <div class="card-body flex-center">
                  <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe" height="100" width="115" class="left">
                  <!--description needs to show a certain length of description-->
                  <p class="card-text mr-2 ml-2">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                  <a href="#" class="card-link text-light">Take me there</a>
                </div>
                <div class="card-body flex-center">
                  <img src="../static/Images/icecube.jpg" alt="An Ice Cold Recipe" height="75" width="115">
                  <p class="card-text mr-2 ml-2">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                  <a href="#" class="card-link text-light">Take me there</a>
                </div>
                <div class="card-body flex-center">
                    <img src="../static/Images/icecube.jpg" alt="An Ice Cold Recipe" height="75" width="115">
                    <p class="card-text mr-2 ml-2">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                    <a href="#" class="card-link text-light">Take me there</a>
                </div>
                <div class="card-body flex-center">
                    <img src="../static/Images/icecube.jpg" alt="An Ice Cold Recipe" height="75" width="115">
                    <p class="card-text mr-2 ml-2">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                    <a href="#" class="card-link text-light">Take me there</a>
                </div>
                <div class="card-body flex-center">
                    <img src="../static/Images/icecube.jpg" alt="An Ice Cold Recipe" height="75" width="115">
                    <p class="card-text mr-2 ml-2">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                    <a href="#" class="card-link text-light">Take me there</a>
                </div>
                <div class="card-body flex-center">
                    <img src="../static/Images/icecube.jpg" alt="An Ice Cold Recipe" height="75" width="115">
                    <p class="card-text mr-2 ml-2">Not for the faint of heart, these spicy peppers will make your eyes water and ....</p>
                    <a href="#" class="card-link text-light">Take me there</a>
                </div>
                <div class="card-body flex-center">
                    <img src="../static/Images/icecube.jpg" alt="An Ice Cold Recipe" height="75" width="115">
                    <p class="card-text mr-2 ml-2 ">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                    <a href="#" class="card-link text-light">Take me there</a>
                </div>
                <div class="card-body flex-center">
                    <img src="../static/Images/icecube.jpg" alt="An Ice Cold Recipe" height="75" width="115">
                    <p class="card-text mr-2 ml-2">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                    <a href="#" class="card-link text-light">Take me there</a>
                </div>

              </div>
</form>



{% endblock %}
