{% block body %}
<form>
    
<div style="height: 100vh; width: 75%; padding-left: 50px" >
        <div class="flex-end" >
          <div class="card flex bg-dark">
            <h4 class="animated fadeIn mb-4 flex-center text-light mt-2 " >Trending</h4>
            <!--<table class="table">
              <thread>
                <tr>
                    <th>pic</th>
                    <th>description</th>
                </tr>
              </thread>
              <tbody>

              </tbody>
            </table>-->
            <div class="card-body ">
              <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
              <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
              <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
              <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body ">
                <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
                <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body ">
                <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
                <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body ">
                <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
                <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body ">
                <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
                <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body ">
                <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
                <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body ">
                <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
                <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body ">
                <p class="h4 text-light" style="padding-left: 5px"> Recipe name</p>
                <img src="../static/Images/spicy.jpg" alt="Spicy pepper recipe"  width="100" class="rounded float-right">
                <p class="card-text mr-2 ml-2 " style="padding-right: 100px; height: 100px">Not for the faint of heart, these spicy peppers will make your eyes water and ...</p>
                <a href="#" class="card-link text-light" style="padding-left: 5px">Take me there</a>
            </div>
            <div class="card-body flex-center">
                <a href="#" class="card-link text-light">More trending >></a>
            </div>

          </div>
        </div>
      </div>

</form>

{% endblock %}
