{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
Sign In
{% endblock %}

{% block styles %}
<head>
    <div style="background-image: url(../static/Images/navbar.png); ">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Help Me Recipe</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>

    <link href="style.css" rel="stylesheet">

    </div>

</head>
{% endblock %}
{% block content %}
<body>

    <div style="height: 100vh; background-image: url(../static/Images/bg.png); ">

    <!-- Navigation -->
    <div class="jumbotron " style="background-image:url(../static/Images/navbar.jpg); background-size:100%">

        <div style="background-image: url(../static/Images/navbar.png); background-size: cover; ">

        <h1 class="display-4 text-center text-light font-weight-bold">Help Me Recipe</h1>

        </div>

    </div>


    <div class="container padding text-center">
	    <div class="login-popup-heading text-center">
	        <h4><i class="fa fa-lock" aria-hidden="true"></i> Login </h4>  
	    </div>                     
	

    <form id="loginMember" role="form" action="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
        <button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Login</button>
    </form>
	</div>

	<div class="mb-4"></div>

    <div class="form-group text-center">

    <a class="pwd-forget" href="javascript:void(0)" id="open_forgotPassword">Forgot Password</a>
    <div class="text-center">Not registered yet? <a href="http://192.168.50.34/abcc/membership-application">click here</a></div>
	</div>
    </div>

</body>

</html>
{% endblock %}

