{% extends 'layout.html' %}
{% block body %}
<!--Main layout-->
<main class=" pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <img src="Images/lasagna.jpg" class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3">
                        <a href="">
                            <span class="badge purple mr-1">Italian</span>
                        </a>
                        <a href="">
                            <span class="badge blue mr-1">Hot</span>
                        </a>
                        <a href="">
                            <span class="badge red mr-1">Family</span>
                        </a>
                    </div>

                    <p class="lead font-weight-bold text-light">
                        Lasagna
                    </p>
                    <p class="text-light">Difficulty:</p>
                    <p class="text-light">Prep Time:</p>
                    <p class="text-light">Cook Time:</p>
                    <!--<p class="lead font-weight-bold">Description</p>-->

                    <p class="text-light">I like lasagna</p>

                    <form class="d-flex justify-content-left">
                        <!-- Default input -->
                        <!--<input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">-->
                        <button class="btn btn-dark-green btn-md my-0 p" type="submit">Favorite
                            <!--<i class="fa fa-shopping-cart ml-1"></i>-->
                        </button>

                    </form>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-left wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-left">

                <h4 class="my-4 h4 text-light">Ingredients</h4>

                <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
                    odit voluptates,
                    quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
        <ul class="list-group " style="width:30vh">
            <li class="list-group-item">Sauce</li>
            <li class="list-group-item">Meat</li>
            <li class="list-group-item">Cheese</li>
            <li class="list-group-item">Water</li>
            <li class="list-group-item">Water</li>
        </ul>
        <br>
        <ul class="list-group " style="width:30vh">
                <li class="list-group-item">Calories:</li>
                <li class="list-group-item">Fat:</li>
                <li class="list-group-item">Cholesterol:</li>
                <li class="list-group-item">Sodium</li>
            </ul>
        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock %}