{% extends 'layout.html' %}
{% block body %}

          <!-- Start your project here-->
          <div style="height: 5vh">
            <div class="flex-start">
              <div class="row">
                <div class=" col-sm">

                </div>
             
              <div class="col-sm float-right">
                <div class="row">
                  <div class="col-sm ">
                  </div>
                    {% if current_user.is_authenticated %}
                  <div class="col-sm"  style="padding-top: 40px; width: 70px">
                      {% include 'includes/favoritesBlock.html' %}
                  </div>
                  {% else %}
                  <div class="col-sm"  style="padding-top: 40px;">
                      <div class="card background-color:transparent;">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Breakfast</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Lunch</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Dinner</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Soup</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Salad</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Vegan</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Cheap</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Quick</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Spicy</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Snack</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Dessert</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Vegetarian</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Cold</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Hot</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">College</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Asian</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">BBQ</a></li>
                          <li class="list-group-item bg-dark"><a href="#" class="card-link text-light">Mexican</a></li>
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
              <!--Here is trending stuff-->
            </div>
          </div>

          {% include 'includes/formatForProfileRecipes.html' %}
          
          {% for rec in recipe %}
              rec.rec_name.data
              
          {% endfor %}

          {% if current_user.is_authenticated %}
          
              {% include 'includes/postPop.html' %}
              
          {% endif %}


    {% if reciperesult %}

          
          {% for rec in reciperesult %}  

                <div class="card flex flex-end flex-center bg-dark">
                    <div style="height: 100vh w-20" class="card-body flex-center">
                        <img class="rounded-circle d-flex mr-3 p-4" src="../static/Images/emptyProf.png" alt="Generic Image" height="100" width="115">
                        <p class="card-text mr-2 ml-2">{{rec.rec_name}}</p>
                    </div>
                    <div class="card-body flex-center">
                        <p class="card-text mr-2 ml-2">{{rec.rec_description}}</p>
                        <a href="#" class="card-link text-light">Take me there</a>
                        </div>
                </div>

          {% endfor %}

    {% endif %}
          

          
 {% endblock %}
