{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<!--Main layout-->
<main class=" pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <img src="Images/lasagna.jpg" class="img-fluid" alt="">
                <img class="d-flex mr-3 p-4" src="{{ image_file }}" alt="Generic placeholder image" style="width: 200px; height: 200px ;">
                <button type="button" class="btn btn-outline-dark-green" value="Follow">Follow</button>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <p class="lead font-weight-bold text-light">
                        {{ rec.rec_name }}
                    </p>
                    <p class="text-light">Difficulty:</p>
                    <p class="text-light">Prep Time: {{rec.prep_time}}</p>
                    <p class="text-light">Cook Time: {{rec.cook_time}}</p>
                    <!--<p class="lead font-weight-bold">Description</p>-->

                    <p class="text-light">{{rec.rec_description}}</p>

                    <form class="d-flex justify-content-left">
                        <!-- Default input -->
                        <button class="btn btn-dark-green btn-md my-0 p" type="submit">Favorite
                        </button>

                    </form>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-left wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-left">

                <h4 class="my-4 h4 text-light">Ingredients</h4>

                <p class="text-light">{{rec.rec_instruction}}</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
        <ul class="list-group " style="width:30vh">
            <li class="list-group-item">{{rec.ing_1}}</li>
            <li class="list-group-item">{{rec.ing_2}}</li>
            <li class="list-group-item">{{rec.ing_3}}</li>
            <li class="list-group-item">{{rec.ing_4}}</li>
            <li class="list-group-item">{{rec.ing_5}}</li>
            <li class="list-group-item">{{rec.ing_6}}</li>
            <li class="list-group-item">{{rec.ing_7}}</li>
            <li class="list-group-item">{{rec.ing_8}}</li>
            <li class="list-group-item">{{rec.ing_9}}</li>
            <li class="list-group-item">{{rec.ing_10}}</li>
        </ul>
        <br>
        <ul class="list-group " style="width:30vh">
                <li class="list-group-item">Calories:{{rec.calories}}</li>
                <li class="list-group-item">Fat:{{rec.fat}}</li>
                <li class="list-group-item">Cholesterol:{{rec.cholesterol}}</li>
                <li class="list-group-item">Sodium:{{rec.sodium}}</li>
            </ul>
        <!--Grid row-->
        <div class="row wow fadeIn"></div>
        <!--Grid row-->

    </div>
</main>
{% endblock %}